/*=======================
css for the score card
======================= */

*{
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell;
    box-sizing: border-box;
}
#container{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    gap: 50px;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color:#8CC461;
}
#score-container{
    margin: 6rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #ffffff;
    border-radius: 1rem;
    padding: 1rem;
    width: 60%;
    flex-wrap: wrap;
}
.game-title{
    letter-spacing: 0.1rem;
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    
}
#card-container{
    max-width: 40%;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    flex: 1;
}
.score-card{
    background-color: #ffffff;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    /* max-width: 300px; */
    flex: 1 1 45%;
}
.score-title{
    color: #656565;
    font-size: 1.15rem;
    font-weight: 600;
    overflow-wrap: break-word;
    text-align: center;
    letter-spacing: 0.1rem;
    line-height: 1.5;
}
.score-value{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell;
    font-weight: 700;
    color: #252525;
    font-size: 5rem;
}

/*=====================================================
Play area
=====================================================*/
#game-container{
    display: flex;
    gap: 3rem;
}
.downside{
    position: relative !important;
    top: 200px !important;
    /* background-color: #0074B6; */
}
a[href="#"] img{
    height: 8rem;
    width: 8rem;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 20px;
}
#pick{
    position: relative;
    top: -50px;
    left : 20px;
    color: #fff;
    font-weight: 600;
}
#rock img{
    outline: #0074B6 20px solid;
}
#paper img{
    outline: #FFA943 20px solid;
}
#scissors img{
    outline: #BD00FF 20px solid;
}
.button-container{
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    /* border: #0074B6 5px solid; */
    
}
.button-container>a{
    padding: 0.5rem 1rem;
    border: #FFFFFF 2px solid;
    border-radius: 10px;
    /* position: absolute; */
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

/* =====================================================
result 
===================================================== */
#game-result{
    letter-spacing: 0.1rem;
    color: #ffffff;
    font-weight: 800;
    font-size: 1.5rem;
    /* background-color: #0074B6; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem;
}
#game-result a{
    text-decoration: none;
    background-color: #FFFFFF;
    color: #6B6B6B;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 1rem;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    right: 30px;
    bottom: 80px;
    background-color: #004429;
    border: 7px solid #fff;
    border-radius: 10px;
    width: 20%;
    padding: 20px;
}
.modal-content {
    color: #fff;
}
.modal-content h1{
    margin-bottom: 20px;
    text-align: center;
}
.modal-content li{
    font-weight: 400;
    list-style-type: square;
    margin-bottom: 10px;
}
.modal-content li::marker{
    color: #FFD600;
    font-size: 25px;
    text-align: center;
}
.close-button {
    background-color: red;
    border: 5px #fff solid;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    color: #fff;
    font-weight: 400;
    right: -25px;
    top: -25px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}
.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
@keyframes winnerAnimation {
    0% {
        box-shadow: 0 0 10px rgb(6, 41, 238, 1);
    }
    25% {
        box-shadow: 0 0 100px rgb(6, 41, 238, 1);
    }
    50% {
        box-shadow: 0 0 200px rgb(6, 41, 238, 1);
    }
    75% {
        box-shadow: 0 0 100px rgb(6, 41, 238, 1);
    }
    100% {
        box-shadow: 0 0 10px rgb(6, 41, 238, 1);
    }
}
  .winner-animation {
    animation: winnerAnimation 1s infinite;
}